.label{
	-fx-text-fill: rgba(220, 220, 220, 1); 
	-fx-background-color: rgba(0, 0, 0, 0);
}

.dataLabel{
	-fx-text-fill: rgba(220, 220, 220, 1);
	-fx-background-color: rgba(0, 0, 0, 0);
	-fx-font-weight: bold;
	-fx-font-size: 13; 
	-fx-alignment: center-right;
}

.titleLabel{
	-fx-text-fill: rgba(160, 160, 160, 1); 
	-fx-font-weight: normal; 
	-fx-font-size: 13; 
	-fx-background-color: rgba(0, 0, 0, 0);
	-fx-alignment: center; 
	-fx-text-alignment: center; 
}

.progress-bar { 
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-accent: green;
    -fx-indeterminate-bar-length: 0;
    -fx-indeterminate-bar-animation-time: 2;

}

.progress-bar > .bar {
    -fx-background-color: -fx-accent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

.progress-bar > .track {
	-fx-background-color: rgba(70, 70, 70, 1);
	-fx-background-insets: 0;
    -fx-background-radius: 0; 
}

.led
{
	-fx-fill: rgba(50, 50, 50, 1);
	-fx-stroke: rgba(100, 100, 100, 1);
	-fx-stroke-width: 0.5; 
}

.dataPane {
	-fx-background-color: rgba(45, 45, 45, 1);
	-fx-background-insets: 2.5;
	-fx-padding: 5 10 5 10;
	-fx-background-radius: 5;
	-fx-pref-width: 250;
}

.gridPane{
	-fx-background-color: rgba(0, 0, 0, 0);
	-fx-padding: 0;
	-fx-vgap: 0;
	-fx-hgap: 5;
}

.table-view{
	-fx-background-color: rgba(0, 0, 0, 0.5);
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: rgba(90, 90, 90, 1);
    -fx-table-cell-border-color: rgba(200, 90, 90, 1);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: rgba(220, 220, 220, 1);
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: rgba(220, 220, 220, 1);
}

.table-row-cell{
    -fx-background-color: rgba(50, 50, 50, 1);
    -fx-table-cell-border-color: rgba(80, 80, 80, 1);
    -fx-background-insets: 0, 0 0 0 0;
    -fx-padding: 0.2em; 
    -fx-cell-size: 20px;
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 0 0;
    -fx-padding: 0.2em; /* 0 */  
}

.table-row-cell: hover {
    -fx-background-color: #202020;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}
			
.bottomPane {
	-fx-background-color: rgba(0, 0, 0, 0);
}

.borderPane {
	-fx-background-color: rgba(55, 55, 55, 1);
}